/* Empty. Add your own CSS if you like */
html, body {
    font-family: 'Raleway', sans-serif;
}

body.platform-ios.platform-cordova:not(.fullscreen) {
    margin-top: 20px;
}

body.platform-ios.platform-cordova:not(.fullscreen) .has-tabs,
body.platform-ios.platform-cordova:not(.fullscreen) .bar-footer.has-tabs
{
    bottom: 20;
}

/* Product css */
.list.products .list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 49px;
}

.has-tabs, .bar-footer.has-tabs
{
    bottom: 0;
}

.list.products .item.item-thumbnail-top {
    width: 50%;
    margin: 0;
}

.list.products .item.item-thumbnail-top:nth-child(even) {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #979797;
}

.list.products .item.item-thumbnail-top:nth-child(odd) {
    border-left: none;
    border-top: none;
    border-right: 1px solid #979797;
    border-bottom: 1px solid #979797;
}

.list.products a.item-content {
    padding: 15px;
}

.list.products .item.item-thumbnail-top .slider-pager {
    display: none;
}

.list.products .item.item-thumbnail-top h2.center, .list.products .item.item-thumbnail-top p.center {
    text-align: center;
}

.list.products .item.item-thumbnail-top h2.center {
    font-size: 16px;
    color: #525252;
    margin-bottom: 10px;
}

.list.products .item.item-thumbnail-top p.center {
    font-size: 22px;
    color: #000000;
    overflow: visible;
}

.list.products .item.item-thumbnail-top img.center {
    display: block;
    margin: 20px auto 0;
    width: 100%;
}

.list.products .item.item-thumbnail-top .productValue {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}

.list.products .item.item-thumbnail-top .productValue i.icon.ion-ios-minus {
    width: 15%;
    display: block;
    font-size: 34px;
    color: #575756;
    text-align: center;
}

.list.products .item.item-thumbnail-top .productValue i.icon.ion-ios-plus {
    width: 15%;
    display: block;
    font-size: 34px;
    color: #2981b9;
    text-align: center;
}

.list.products .item.item-thumbnail-top .productValue label.item.item-input {
    width: 45%;
    display: block;
    text-align: center;
    padding: 0;
    border-radius: 5px;
}

.list.products .item.item-thumbnail-top .productValue label.item.item-input input[type="text"] {
    padding: 0;
    text-align: center;
    font-size: 20px;
    color: #575757;
}

.bar.bar-footer.bar-dark {
    height: 55px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-image: linear-gradient(180deg, #363636, #363636 50%, transparent 50%);
}

.bar.bar-dark {
    border-color: #363636;
    background-color: #363636;
}

.bar.bar-footer.bar-dark i.ion-ios-camera-outline {
    font-size: 34px;
    background: #ff6868;
    border: 2.5px solid #ff9e9e;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    position: fixed;
    left: 50%;
}

.list
{
    padding-top:50px;
}

.tab-nav
{
    top:0;
}

.list.products i.ion-ios-heart {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
}

.list.products i.ion-ios-trash {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(50%) translateX(-50%);
}

.bold.ng-binding {
    font-weight: 600;
}

.totalPrice, .readyIn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.readyIn {
    right: 15px;
}

.totalPrice {
    left: 15px;
}
.productDetail .list img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.back-text {
    color: #387ef5;
    font-size: 14px;
}

.bar-stable.bar.bar-header {
    padding-bottom: 43px;
}

.alignCenter {
    text-align: center;
}

span.bold{
    font-weight: 600;
}

.hide
{
    display: none;
}

.addProduct .item.item-input.item-select {
    padding: 25px !important;
}

.addProduct option {
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;
}