<ion-view class="checkoutview" view-title="Afrekenen" hide-nav-bar="true">

  <ion-content>
    <!-- <div class="bar bar-header bar-light">
    		<h1 class="title">Afrekenen</h1>
  	</div> -->
    <div class="container-checkout">
      <h1 class="title">Afrekenen</h1>
      <div class="break"></div>
      <h3>Totaalbedrag: <span>€{{totalPrice}}</span></h3>
      <h3>Inpaktijd: <span>{{totalTime.m}} min {{totalTime.s}} sec</span></h3>
      <div class="break"></div>
      <h3>Hoe wilt u betalen?</h3>

      <!-- <ion-radio ng-model="choice" ng-value="'A'">Optie uit instellingen</ion-radio> -->
      <ion-radio ng-model="payment.choice" ng-value="bankieren" ng-change="pay(payment.choice)">Internetbankieren</ion-radio>
      <ion-radio ng-model="payment.choice" ng-value="pinnen" ng-change="pay(payment.choice)">PIN</ion-radio>
      <ion-radio ng-model="payment.choice" ng-value="automatisch" ng-change="pay(payment.choice)">Automatische incasso (Instellingen)</ion-radio>
        <a href="#/shopping-cart" class="button button-assertive annuleren">Annuleren</a>
        <a href="#/payment" class="button button-balanced betalen">Betalen</a>
    </div>
  </ion-content>
</ion-view> 