<ion-view view-title="Settings" hide-nav-bar="true">
  <ion-content>


    <ion-list>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Naam product</span>
        <input type="text" placeholder="Kip Filet" id="productInput">
      </label>
      <label class="item item-input item-select">
        <select id="aantalInput">
          <option selected>Kies aantal</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
        </select>
      </label>
    <button class="button button-full button-positive" href="#/tab/list" ng-click="add()">
      Voeg toe aan boodschappenlijst
      </button

    </ion-content>
  </ion-view>