<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="">
  <ion-content class="padding productDetail">
    <div class="list">
      <h3 class="alignCenter">{{product.title}}</h3>
      <img ng-src="{{product.thumbnail}}">
      <h4><span class="bold">Prijs:</span> {{product.prijsFrontEnd}}</h4>
      <h4><span class="bold">Gewicht:</span> {{product.inhoud}}</h4>
      <p><span class="bold">Omschrijving:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo nihil consectetur dolorum, excepturi ipsum quaerat accusantium maiores quisquam, corporis delectus possimus illum porro error, temporibus labore ipsam quidem aut sit.
      </p>
    </div>
    <ion-list>
        <ion-toggle  ng-model="settings.aanbieding">
        Notificatie bij aanbieding.
        </ion-toggle>
        <ion-toggle  ng-model="settings.proximity">
        Notificatie bij passeren van product.
        </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
