<ion-view class="checkoutview" view-title="Afrekenen" hide-nav-bar="true">

  <ion-content>
    <!-- <div class="bar bar-header bar-light">
        <h1 class="title">Afrekenen</h1>
    </div> -->
    <div class="container-checkout">
    <div class="bankieren" ng-show="payment.Banken">
      <p>hieer</p>
      <a href="#/shopping-cart" class="button button-assertive annuleren-qrpage">Annuleren</a>
    </div>
    <div class="pinnen" ng-show="payment.Img">
      <h3 class="title">Scan de QR-code bij de kassa:</h3>
      <img class="qrcode-afrekenen" src={{payment.Img}} alt="betaal-img">
      <a href="#/shopping-cart" class="button button-assertive annuleren-qrpage">Annuleren</a>
    </div>
    <div class="automatisch" ng-show="payment.Betaald">
      <h3 class="title">Er is betaald</h3>
      <p class="incasso">{{payment.Betaald}}</p>
      <img class="betaald" src="img/executed-payment.png" alt="betaald">
      <a href="#/shopping-cart" class="button button-balanced annuleren-qrpage">Verder shoppen</a>
    </div>
      
    </div>
  </ion-content>
</ion-view> 