<ion-view class="checkoutview" view-title="Afrekenen" hide-nav-bar="true">

  <ion-content>
    <!-- <div class="bar bar-header bar-light">
        <h1 class="title">Afrekenen</h1>
    </div> -->
    <div class="container-checkout">
      <h1>Doe op deze pagina iets wat met betalen te maken heeft.</h1>
      <h1>Deze pagina kun je benaderen met /payment.</h1>
      <p>Kijk maar wat je doet :D :D :D :D <===3</p>
      <p>Geen idee wat deze zwarte kut balk hier doet. </p>

    </div>
  </ion-content>
</ion-view> 