<ion-view view-title="Instellingen" hide-nav-bar="true">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right"  type="item-text-wrap" href="#/usersettings">
        <h2>Gebruikersinstellingen</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right"  type="item-text-wrap" href="#/data">
        <h2>Demo instellingen</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
