<ion-view view-title="Winkelmand" hide-nav-bar="true">
     <ion-content>
         <td-cards>
              <td-card id="td-card" ng-repeat="card in cards" on-destroy="cardDestroyed($index)"
              on-swipe-left="cardSwipedLeft($index)" on-swipe-right="cardSwipedRight($index)"
              on-partial-swipe="cardPartialSwipe(amt)">
                  <div class="title">
                      {{card.title}}
                  </div>
                  <div class="image">
                      <div class="no-text overlayBox"><div class="noBox boxed">Trash</div></div>
                      <img ng-src="{{card.image}}">
                      <div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Save</div></div>
                  </div>
              </td-card>
          </td-cards>
       <div class="list products">
       <ion-list ng-controller="ShoppingCart"
          show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe">
          <ion-item class="item item-thumbnail-top"  ng-repeat="item in products">
           <h2 class="center">{{item.title}}</h2>
           <p class="center">€ {{item.prijsFrontEnd}}</p>
           <a href="#/product/{{item.id}}"><img class="center" src={{item.thumbnail}}></a>
           <div class="productValue">
               <i class="icon ion-ios-minus" ng-click="decreaseQuantity(item)"></i>
               <label class="item item-input">
                 <input type="text" placeholder="{{item.aantal}}">
               </label>
               <i class="icon ion-ios-plus" ng-click="addQuantity(item)"></i>
          </div>   
          <ion-option-button class="button-energized" ng-click="addFavorite(item)">
              <i class="ion-ios-heart"></i>Favorite 
          </ion-option-button>   
          <ion-option-button class="button-assertive" ng-click="removeProduct(item)">
              <i class="ion-ios-trash"></i>Delete
          </ion-option-button>      
        </ion-item>
        </ion-list>
       </div>       
     </ion-content>
     <div class="bar bar-footer bar-dark" >
         <div class="totalPrice">Totaalprijs: €<span class="bold" id="price">{{totalPrice}}</span></div>
         <i class="ion-ios-camera-outline" ng-click="scanBarcode()"></i>
         <div class="readyIn">
            Klaar over:
            <span class="bold" id="time">
              {{totalTime.h}}:{{totalTime.m}}:{{totalTime.s}}

              <!--
              <span ng-if="totalTime.h">{{totalTime.h}} uur</span>
              <span ng-if="totalTime.m">{{totalTime.m}} minuten</span>
              <span ng-if="totalTime.s">{{totalTime.s}} seconden</span> -->
     </div>     
</ion-view>