<ion-view view-title="Shopping cart" hide-nav-bar="true">
     <ion-content >
       <div class="list products">
           <div class="item item-thumbnail-top" href="#">
             <h2 class="center">Gouda kaas 48+</h2>
             <p class="center">€2,45</p>
             <img class="center" src="img/goudakaas.JPG">
             <div class="productValue">
                 <i class="icon ion-ios-minus"></i>
                 <label class="item item-input">
                   <input type="text" placeholder="1">
                 </label>
                 <i class="icon ion-ios-plus"></i>
             </div>
           </div>
           <div class="item item-thumbnail-top" href="#">
             <h2 class="center">Coca Cola</h2>
             <p class="center">€1,25</p>
             <img class="center" src="img/cocacola.JPG">
             <div class="productValue">
                 <i class="icon ion-ios-minus"></i>
                 <label class="item item-input">
                   <input type="text" placeholder="1">
                 </label>
                 <i class="icon ion-ios-plus"></i>
             </div>
           </div>
           <div class="item item-thumbnail-top" href="#">
             <h2 class="center">Kip Filet</h2>
             <p class="center">€1,89</p>
             <img class="center" src="img/kipfilet.JPG">
             <div class="productValue">
                 <i class="icon ion-ios-minus"></i>
                 <label class="item item-input">
                   <input type="text" placeholder="1">
                 </label>
                 <i class="icon ion-ios-plus"></i>
             </div>
           </div>
           <div class="item item-thumbnail-top" href="#">
             <h2 class="center">La Chouffe</h2>
             <p class="center">€2,45</p>
             <img class="center" src="img/lachouffe.JPG">
             <div class="productValue">
                 <i class="icon ion-ios-minus"></i>
                 <label class="item item-input">
                   <input type="text" placeholder="1">
                 </label>
                 <i class="icon ion-ios-plus"></i>
             </div>
           </div>
           <div class="item item-thumbnail-top" href="#">
             <h2 class="center">Gouda kaas 48+</h2>
             <p class="center">€2,45</p>
             <img class="center" src="img/goudakaas.JPG">
             <div class="productValue">
                 <i class="icon ion-ios-minus"></i>
                 <label class="item item-input">
                   <input type="text" placeholder="1">
                 </label>
                 <i class="icon ion-ios-plus"></i>
             </div>
           </div>
           <div class="item item-thumbnail-top" href="#">
             <h2 class="center">Coca Cola</h2>
             <p class="center">€1,25</p>
             <img class="center" src="img/cocacola.JPG">
             <div class="productValue">
                 <i class="icon ion-ios-minus"></i>
                 <label class="item item-input">
                   <input type="text" placeholder="1">
                 </label>
                 <i class="icon ion-ios-plus"></i>
             </div>
           </div>
       </div>
     </ion-content>
     <div class="bar bar-footer bar-dark">
         <div class="totalPrice">Totaalprijs: <span class="bold">€54,03</span></div>
         <i class="ion-ios-camera-outline"></i>
         <div class="readyIn">Klaar over: <span class="bold">08:21</span> minuten</div>
     </div>
</ion-view>