<ion-view view-title="Shopping cart" hide-nav-bar="true">
     <ion-content>
       <div class="list products">
       <ion-list ng-controller="ShoppingCart"
          show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe">
          <ion-item class="item item-thumbnail-top" href="#" ng-repeat="item in products">
           <h2 class="center">{{item.title}}</h2>
           <p class="center">€ {{item.prijsFrontEnd}}</p>
           <img class="center" src={{item.thumbnail}}>
           <div class="productValue">
               <i class="icon ion-ios-minus" ng-click="decreaseQuantity(item)"></i>
               <label class="item item-input">
                 <input type="text" placeholder="{{item.aantal}}">
               </label>
               <i class="icon ion-ios-plus" ng-click="addQuantity(item)"></i>
          </div>    
          <ion-option-button class="button-assertive" ng-click="removeProduct(item)">
              Delete
          </ion-option-button>      
        </ion-item>
        </ion-list>
       </div>
     </ion-content>
     <div class="bar bar-footer bar-dark">
         <div class="totalPrice">Totaalprijs: <span class="bold">{{totalPrice}}</span></div>
         <i class="ion-ios-camera-outline" ng-click="scanBarcode()"></i>
         <div class="readyIn">Klaar over: <span class="bold">{{totalTime}}</span> minuten</div>
     </div>
</ion-view>