<ion-view view-title="Favorites" hide-nav-bar="true">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="fav in favorites" type="item-text-wrap" href="#/product/{{fav.id}}">
        <img ng-src="{{fav.thumbnail}}"/>
        <h2>{{fav.title}}</h2>
        <p>{{fav.inhoud}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(fav)">
          Delete
        </ion-option-button>
        <ion-item class="item afbeelding" ng-show="!favorites.length">
          <img src="img/empty.png" alt="empty cart">
        </ion-item>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

